html {
	font-family: Uber Move !important;
}
body {
	font-family: Uber Move !important;
}
a {
	font-family: Uber Move !important;
	font-weight: 400;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.legend-container {
	position: absolute;
	bottom: 0;
 	margin: 50px;
 	padding: 10px 20px;
 	background-color: rgba(15, 15, 15, 0.85);
 	z-index: 9999;
 	border-radius: 5px;
 	/*border: solid 2px #252525;*/
 	font-family: Uber Move;
 	color: #fff;
}
h1 {
	font-family: Druk Text;
	font-size: 18pt;
}
h3 {
	font-family: Uber Move;
	font-size: 16px;
	margin: 0;
	padding-bottom: 7px;
}
p {
	font-size: 10pt;
	font-weight: 400;
	font-family: Uber Move !important;
}
.legend-titles {
	font-size: 10pt;
	font-weight: 400;
	letter-spacing: 1px;
	display: inline;
	padding-left: 10px;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 12px;
}
ul.legend-list {
	margin: 12px 0;
	padding: 20px 20px 20px 0 !important;
	border: solid 1px #252525;
	border-radius: 5px;
	background-color: #000000;
	font-size: 12px;
}
li {
 	display: inline-block;
 	vertical-align:middle;
}
.legend-list-item {
	margin-left: 20px;
}
.icon-description {
	padding: 15px;
	max-width: 200px;
	line-height: 16px;
	float: left;
	font-family: Uber Move;
	letter-spacing: .5px;
}
.item-image {
	background-size:cover;
	background-position: center;
	min-height:100px;
	min-width:100px;
	height:100%;
	display: block;
	float: left;
}
.legend-icon {
	height: 30px;
	vertical-align: middle;
}
.mapboxgl-popup-tip {
	display: none;
}
.mapboxgl-popup {
	padding-bottom: 15px;
}
.mapboxgl-popup-content {
	padding: 0 !important;
	border-radius: 5px;
	border: solid #eeeeee 2px;
	height: 120px;
}
.popup-img {
	background-size: cover;
	background-position: center center;
	min-height: 100px;
	min-width: 100px;
	height: 100%;
}
#closure-rd {
	margin: 20px;
	display: block;
	width: 50px;
	height: 7px;
	border-radius: 10px;
	background-color: #ff1900;
}
