html,body {
  height:100%;
  margin:0;
}
a {
	font-family: 'Rubik';
    font-size: 1em;
    letter-spacing: .1em;
	text-transform: uppercase;
	font-weight: 300;
    color: #666;
    text-decoration: none;
}
a:hover {
	color:#000;
}
.container1 {
	display: flex;
	height: 100%;
	width: 100%;
	min-height: 100%;
	min-width: 100%;
	margin: auto;
	align-items: center;
}
.container2 {
	height: auto;
	width: 100%;
	max-width: 800px;
	margin: auto;
	padding: 10px;
}
.top-container {
	position: relative;
  min-height: 300px;
}
@media only screen and (max-width: 500px) {
    .top-container {
        min-height: 450px;
    }
}
.tags {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.tag {
    float: left;
    background-color: #f2f2f2;
    margin: 10px 10px 0 0;
    padding: 2px 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: 'Rubik';
    font-size: .7em;
    letter-spacing: .1em;
	text-transform: uppercase;
	font-weight: 300;
    color: #666;
}
.credits {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-width: 1px 0;
    border-style: solid;
    border-color: #ddd;
}

.credit {
    float: left;
    margin: 0;
    padding: 5px 20px;
    border-width: 0 .1em 0 0;
    border-style: solid solid none;
    border-color: #ddd;
    font-family: 'Open Sans';
    font-size: .7em;
    letter-spacing: .1em;
	text-transform: uppercase;
	font-weight: 600;
    color: #666;
    min-height: 85px;
}
@media only screen and (max-width: 500px) {
    .credit {
        width: 100%;
    }
}
.list-d {
	font-weight: 300;
}
.cta-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #ddd;
    font-family: 'Rubik';
    font-size: 1em;
    letter-spacing: .1em;
	text-transform: uppercase;
	font-weight: 300;
    color: #ddd;
    background-color: rgb(0, 47, 167);
    border-radius: 0 0 5px 5px;
}
.cta-list1 {
    float: left;
    margin: 0;
    padding: 20px 20px;
}
.cta-arrow {
	float: right;
}

.cta-list:hover {
	background-color: rgb(0, 47, 200);
	color: #fff;
	transition: all .5s ease;
}

.cta-arrow:hover {
	transform: translateX(-10px);
}
h1 {
	font-family: 'Rubik';
	font-size: 3em;
	font-weight: 300;
	letter-spacing: .02em;
	line-height: 1.3em;
	margin-bottom: 80px;
	position: absolute;
  	bottom: 0;
  	left: 0;
}
@media only screen and (max-width: 500px) {
    h1 {
        top: 0;
    }
}
#h1-bold {
	font-family: 'Rubik Mono One', sans-serif;
}
h3 {
	font-family: 'Open Sans';
	font-size: 1.5em;
	font-weight: 300;
	letter-spacing: .02em;
	margin-bottom: 0;
}
h4 {
	font-family: 'Open Sans';
	font-size: 1em;
	font-weight: 300;
	letter-spacing: .02em;
	line-height: 1.5em;
	padding: 0 20px;
}
.title {
	font-family: 'Open Sans';
	font-size: 1em;
	font-weight: 700;
	letter-spacing: .02em;
}
#h3-bold {
	font-weight: 400;
}
.showme{ 
display: none;
}
.showhim:hover .showme{
display : inline-block;
}
.showhim:hover .ok{
display : none;
}
.fas fa-arrow-right {
	vertical-align: middle !important;
}
input[type='checkbox'] {
  display: none;
}
.lbl-toggle {
  display: block;
  cursor: pointer;
  transition: all 1s ease-out;
}
.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .5s ease-in-out;
  border: 0 solid #ddd;
}
.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 350px;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-radius: 5px;
  margin-top: 20px;
}
.project-card {
	border-width: 1px 1px 0 1px;
  border-style: solid;
  border-radius: 5px;
  border-color: #ddd;
  margin-bottom: 50px;
}
.lbl-toggle2 {
  display: block;
  cursor: pointer;
  transition: all 1s ease-out;
}
.collapsible-content2 {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .5s ease-in-out;
  border: 0 solid #ddd;
}
.toggle:checked + .lbl-toggle2 + .collapsible-content2 {
  max-height: 800px;
  margin-top: 20px;
}
.lbl-toggle3 {
  display: block;
  cursor: pointer;
  transition: all 1s ease-out;
}
.collapsible-content3 {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .5s ease-in-out;
  border: 0 solid #ddd;
}
.toggle:checked + .lbl-toggle3 + .collapsible-content3 {
  max-height: 800px;
  margin-top: 20px;
}
.wrap-collabsible {
	margin-bottom: 50px;
}
.footer {
	display: block;
    float: left;
    padding: 50px 0 0 0;
    font-family: 'Rubik';
    font-size: .7em;
    letter-spacing: .1em;
	text-transform: uppercase;
	font-weight: 300;
    color: #666;
}
.footer-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.footer-item {
    float: left;
    margin: 0;
    padding: 0px 20px 0 0;
    font-family: 'Open Sans';
    font-size: 1em;
    letter-spacing: .1em;
	text-transform: uppercase;
	font-weight: 400;
    color: #666;
    min-height: 85px;
}